@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">OFRECER PRODUCTOS FUNCIONALES CONFIABLES</p>
            <p>NUTRABIOTICS® significa Nutrir la vida. Proviene de “NUTRA” de «nutrición» y “BIOTICS” de «bio» que significa vida.</p>
            <p><a href="http://www.nutrabiotics.info/" class="btn btn-Nutra">Leer mas &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/imagenes/Nutrbiotics.jpeg" width="300" height="300" alt="" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nuestros Productos</h2>
        <p>Contamos con una variedad de productos esenciales para la salud de nuestros clientes</p>
        <p><a class="btn btn-default" href="http://www.nutrabiotics.info/productos.html">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestro compromiso con la calidad</h2>
        <p>
            Nuestras formulaciones están hechas a base de las mejores materias primas e incluyen antioxidantes, vitaminas, minerales, aminoácidos, enzimas, aceites grasos esenciales, probióticos, oligoelementos, extractos de frutas, plantas medicinales y extractos de glándulas animales.
        </p>
        <p><a class="btn btn-default" href="http://www.nutrabiotics.info/pureza-y-calidad.html">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quieres lo mejor para tus pacientes</h2>
        <p>Cuando se trata de proporcionar atención a los pacientes, sabemos que no te conformas con nada menos que la excelencia. Nutrabiotics comparte tu compromiso, por lo tanto, te ofrecemos suplementos dietarios y medicamentos fitoterapéuticos que contienen ingredientes de la mejor calidad disponible, y su fabricación con estrictos procesos de calidad en su elaboración.</p>
        <p><a class="btn btn-default" href="http://www.nutrabiotics.info/profesionales.html">Leer mas &raquo;</a></p>
    </div>
</div>